:root{
    /* -variable name */
    /* --second-font: "Bodoni MT"; */
    --second-font: 'Comfortaa', cursive;
    --second-font: 'Bakersville' normal;
    
    --default-font-size: 20px;
    --title-font-size: 50px;

    /*original palette*/
    --deep-orange-red: #ee745f;
    --navy-blue: #114b5f;
    --main-white: #fafafa;
    --light-orange: #f08d5a;
    --deep-blue: #33c1c9;
    --blue-button: #7bd5e8;
    --light-grey: #242424;
    
    /*green/orange palette*/
    --jade: #01A66F;
    --medium-aquamarine: #75CE9F;
    --madong: #BDD99E;
    --chardonnay: #FFC06E;
    
    /*italian beach palette*/
    --venice-blue: #05668D;
    --blue-lagoon: #028090;
    --persian-green: #00A896;
    --caribbean-green: #02C39A;
    --tusk-approx: #f0f3BD;
    
    /*subtle green forest beach palette*/
    --tan: #f3e9d2;
    --pixie-green: #c6dabf;
    --vista-green: #88d498;
    --elm: #1a936f;
    --navy-blue: #114b5f; /*copy from the original palette*/
    
    /*deep green forest*/
    --dark-green: #011B10;
    --zuccini: #133A1B;
    --green-mist: #B7BF96;
    --tusk: #E4DEAE;
    
    /*favorite green palette*/
    --gin: #DFEAE2;
    --gum-leaf: #B4D6C1;
    --shadow-green: #8DC3A7;
    --silver-tree: #6BAF92;
    --aqua-forest: #4E9C81;
    --paradiso: #358873;
    --elm02: #207567;
    
    
    
    /* font-family: var(variable name) */
}

nav{
    box-shadow: 0 15px 25px -25px black;
    font-size: 20px;
    font-family: var(--second-font);
    position: absolute;
    z-index: 1;
    width: 100%;
}

.navbar-end{
    margin-right: 2%;
}

.custButton{ 
    background-color: var(--blue-button)!important;
    color: var(--main-white)!important;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 5px 10px 5px 10px;
}

.main-hero{
    background-color: var(--elm02);
}

.new-title{
    font-size: var(--title-font-size);
    font-family: var(--second-font);
    color: var(--main-white);
    padding: 0; 
}

.container img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

iframe {
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
    width: 100%;
}

.card {
    border-radius: 10px;
    box-shadow: 0 5px 5px 0 rgba(233, 240, 243, 0.5), 0 0 0 1px #E6ECF8;
    height: 100%;
  }

.content ul {
      margin: 0 !important;
  }
  
.skills{
    background-color: var(--aqua-forest);
}

.skills-spacing{
    margin-left: 100px;
}

.technicalSkills{
    font-size: var(--title-font-size) !important;
    font-family: var(--second-font);
    color: var(--main-white);
}

.programming, .creativeSkill{
    font-size: 20px;
    font-family: var(--second-font);
    color: var(--light-grey);
    border-style: solid;
    border: 2px; 
    border-radius: 15px;
    background-color: var(--gin);
    padding: 3px 2px 3px 2px;
}

.programming{
    width: 30% !important;
    margin: 1.1% auto auto 11% !important; 
    padding-right: 1px !important;
}

.progExplan{ 
    width: 30% !important;
    margin: 1.1% 1% auto 11% !important;
    font-size: 15px;
    font-family: var(--second-font);
    color: var(--light-grey);
    border: 2px; 
    border-radius: 15px;
    background-color: var(--gin);
}

.creativeSkill{
    width: 30% !important;
    margin: 1.1% auto auto 7% !important;
    padding-right: 1px !important;
}

.creaExplan{
    width: 30% !important;
    margin: 1.1% 1% 0 1%;
    font-size: 15px;
    font-family: var(--second-font);
    color: var(--light-grey);
    border: 2px; 
    border-radius: 15px;
    background-color: var(--gin);
}

.pastWorksTop{
    background-color: var(--shadow-green);
    font-family: var(--second-font);
    height: 100%;
}

.pastWorksTitle{
    font-size: var(--title-font-size);
    font-family: var(--second-font);
    color: var(--main-white);
    margin-left: 100px;
}

.pastWorksExplan{
    font-size: 20px;
    font-family: var(--second-font);
    color: var(--main-white);
    margin-left: 5%;
    margin-bottom: 30px;
}

.pastWorksTop + .container {
	margin-top: 40px;
	width: 50%;
}

.inProduction + .container {
	margin-top: 40px;
	width: 50%;
}

.videoCard{
	border-radius: 6px;
    padding: 10px;
    height: auto;
    width: 600px;
    text-align: center;
    margin-left: 100px;
    
}

#WorksVideos :hover{
    max-height: 450px;
}

.video-con {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 50px;
    height: 0;
    overflow: hidden;
}

.video-con iframe,
.video-con object,
.video-con embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.secondCard:hover {
    -webkit-transition: all 200ms ease-in;
     -webkit-transform: scale(1.2);
     -ms-transition: all 200ms ease-in;
     -ms-transform: scale(1.2);   
     -moz-transition: all 200ms ease-in;
     -moz-transform: scale(1);
     transition: all 200ms ease-in;
     transform: scale(1.2);
     z-index: 99;
}

.card:hover{
    box-shadow: 0 0 8px #d3d3d3;
	cursor: pointer;
	max-height: 500px;
}

.ExplainHeader{
    font-size: var(--title-font-size);
}

.Explain{
    font-size: 20px;
    font-family: var(--second-font);
    color: var(--main-white);
    padding-top: 20px;
    margin-left: 30px;
}

/*.gitButt{
    width:150px;
    color: var(--light-grey);
    margin-top: 0px;
    margin-bottom: 10px;
    padding: 10px 10px 10px 10px !important;
}*/

.gitButt:hover{
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.5);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.2);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1.5);
}

.firstCol{
    font-size: 42px;
    font-family: var(--second-font);
    color: var(--main-white);
    /* padding-top: 0 !important;
    margin-left: 1% !important;
    margin-top: 2%; */
}

.firstCol img{
    width: 60% !important;
    border: 2px; 
    border-radius: 15px;
    background-color: var(--main-white);
}

.aboutMe{
    background-color: var(--gin);
}

.aboutMe img{
    width: 17%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

.aboutMeExplan{
    font-size: 15px;
    font-family: var(--second-font);
    color: var(--elm02);
    margin-top: 2%;
}

.aboutMeExplan h1{
    font-size: 20px;
}

footer{
    font-family: var(--second-font);
    background-color: var(--main-white);
}

.thanks{
    margin-top: 10px;
}

.footButt{
    background-color: var(--elm02) !important;
    color: var(--main-white) !important;
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: white; /* Set a background color */
    opacity: .75;
    color: var(--light-grey); /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
    font-family: var(--second-font);
    box-shadow: none;
    transition: box-shadow 1s;
  }
  
  #myBtn:hover {
    box-shadow: 0 0 20px white; /* Add a dark-grey background on hover */
  }

  #buttButt:hover{
	    animation-name: floating;
	    -webkit-animation-name: floating;

	    animation-duration: 1.5s;	
	    -webkit-animation-duration: 1.5s;

	    animation-iteration-count: infinite;
	    -webkit-animation-iteration-count: infinite;
  }

  @keyframes floating {
	0% {
		transform: translateY(0%);	
	}
	50% {
		transform: translateY(80%);	
	}	
	100% {
		transform: translateY(0%);
	}			
}

@-webkit-keyframes floating {
	0% {
		-webkit-transform: translateY(0%);	
	}
	50% {
		-webkit-transform: translateY(8%);	
	}	
	100% {
		-webkit-transform: translateY(0%);
	}			
}