/*@media only screen and (max-width: 768px) {
    .navbar-item{
        font-size: 2vw;
    }
}*/

#mainPageVideo {
    /*box-shadow: 0 20px 30px rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 10%);*/
    width: auto;

}

.image.frontPage{
    width: 30vw;
    margin-left: 30vw;
    margin-right: 30vw;
    padding-top: 2.5vh;
}

.image.frontPageDesktop{
    margin: 1vw 0 1vw 1vw;
}

.videoIntro{
    /*    margin: 1rem;
        padding-top: 5%;*/
}

.colorView{
    position: relative;
    /*background-color: #f4ebd6;*/
    box-shadow: 0 2px 3px rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 10%);
}

.isFluid{
    margin-left: 5%;
    margin-right: 5%;
    max-width: none;
    width: auto;

}

.overlay {
    position: relative;
    margin-top: 14vh;
    height: auto;
    border-radius: 6px;
    /*box-shadow: 0 2px 3px rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 10%);*/
    margin-bottom: 0 !important;
    
}

.left-column{
    
}

.on-top{
    z-index: 2;
    width: 2vw;
    height: 2vh;
    position: absolute;
}

.aboutMeIntro{
    padding: 20px;
}

.fadeInRight {
    animation: fadeInRight 1s;
}

.fadeOutRight {
    animation: fadeOutRight 1.2s;
}

.hidden {
    opacity: 0;
}

@keyframes fadeInRight {
    0%{
        opacity: 0;
        transform: translateX(50px);
    }
    75%{
        opacity: 75%;
        transform:translateX(0);
    }
}

@keyframes fadeOutRight {
    100%{
        opacity: 0;
        transform: translateX(100px);
    }
    0%{
        opacity: 1;
        transform: translateX(0);
    }
}

.containerMySlides{
    padding-top: 5%;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

.mySlides:hover{
    filter: drop-shadow(10px 10px 5px rgb(10 10 10 / 10%));
}
/* Add a pointer when hovering over the thumbnail images */
.cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Container for image text */
.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Six columns side by side */
.column {
    float: left;
    width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

.mobileTopSection{
    display: none;
    margin-top: 14vh;
    box-shadow: 0 2vh 9px 3px rgb(10 10 10 / 30%);
}

.topSection{
    display: revert;
    margin: 0 7% 0 7%;
}

