#mainPageVideo {
    right: 0;
    bottom: 0;
    min-width: 100vw;
    min-height: 100vh;
    object-fit: cover;
    position: static;
    top: 100px;
}

.filter-blur {
    width: inherit;
    height: inherit;
    -o-filter: blur(15px);
    filter: blur(15px);
    object-fit: cover;
}
/*https://www.youtube.com/watch?v=W5-yEZ7Hv0k*/

body {
    padding-bottom: 2000px;
}

.stickyVideo {
    right: 0;
    bottom: 0;
    min-width: 100vw;
    min-height: 100vh;
    object-fit: cover;
    position: fixed;
    top: 100px;
}