#mainPageVideo {
    right: 0;
    bottom: 0;
    min-width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    top: 100px;
}

html{
    background-color: #FCF5E5;
}

.title{
    font-size:calc(20px + 5vw);
}

.colorView{
    position: relative;
    background-color: #f3e9d2;
    opacity: 80%;
    box-shadow: 0 2px 3px rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 10%);
}

.isFluid{
    margin-left: 5%;
    margin-right: 5%;
    max-width: none;
    width: auto;
    
}



.navbar{
    padding: 1em;
    background-color: #FAF5EA;
    box-shadow: 0 2px 3px rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 10%);
}

.navbarTitle{
    font-size: 3vw;
}

.navbar-menu{
    font-size: 1vw;
}


.overlay {
    position: relative;
    margin-top: 14vh;
    height: auto;
    border-radius: 6px;
    /*box-shadow: 0 2px 3px rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 10%);*/
    margin-bottom: 0 !important;
    
}

.left-column{
    
}

.right-column{
    background-color: #f3e9d2;
    opacity: 80%;
}

.on-top{
    z-index: 2;
    width: 2vw;
    height: 2vh;
    position: absolute;
}

.aboutMeIntro{
    padding: 20px;
}

.fadeInRight {
    animation: fadeInRight 1s;
}

.fadeOutRight {
    animation: fadeOutRight 1.2s;
}

.hidden {
    opacity: 0;
}

@keyframes fadeInRight {
    0%{
        opacity: 0;
        transform: translateX(50px);
    }
    75%{
        opacity: 75%;
        transform:translateX(0);
    }
}

@keyframes fadeOutRight {
    100%{
        opacity: 0;
        transform: translateX(100px);
    }
    0%{
        opacity: 1;
        transform: translateX(0);
    }
}
