.navbar{
    padding: 1em;
}

.navbarTitle{
    font-size: 3vw;
}

.navbar-menu{
    font-size: 1vw;
}

.projImg{
    /*width: 23vw;*/
    max-width: 23vw;
    min-width: 23vw;
}

.projImg:hover{
    
}

.projectTop{
    margin-top: 9em;
}

.projectBase{
    padding: 4em 17em;
    align-items: center;
    display: flex;
    background-color: #9A9FB8;
    justify-content: space-around;
}

.projectBase.top{
    padding-top: 3em;
}

.projDescrRight{
    padding-right: 10em;
    padding-left: 5em;
}

.projDescrLeft{
    padding-right: 11em;
    padding-left: 12em;
}