.navbar{
    padding: 1em;
}

.navbarTitle{
    font-size: 3vw;
}

.navbar-menu{
    font-size: 1vw;
}

.placeholder{
    width: 23vw;
}

.projectTop{
    margin-top: 4em;
}

.projectBase{
    padding: 7em;
    align-items: center;
    display: flex;
    background-color: #9A9FB8;
}

.projRight{
    padding-left: 20em;
}

.projLeft{
    padding-right: 6em;
    padding-left: 12em;
}