.header{
    font-size:calc(3px + 4vw);
    font-weight: bold;
    color: #232323;
    font-family: var(--quattrocento-font);
}

.projImg{
    /*width: 23vw;*/
    max-width: 23vw;
    min-width: 23vw;
}

.projImg:hover{
    box-shadow: 0 0 8px black;
}

.projectTop{
    margin-top: 16vh;
}

.projSubtitle{
    font-size: calc(2px + 2vw);
}

.projectBase{
    padding: 8vh 10vw;
    align-items: center;
    display: flex;
    justify-content: space-between;
    /*justify-content: space-around;*/
}

.projectBase.right{
    /*padding: 0 10vw 0 8vw;*/
    justify-content: space-between;
}

.projectBase.top{
    padding-top: 15vh;
}

.projDescrRight{
    color: #ffffff;
    padding: 0 10vw 0 0;
}

.projDescrLeft{
    padding-left: 6vw;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
    position: relative;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Container for image text */
.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Six columns side by side */
.column {
    float: left;
    width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}



.mobileVideo{
    height: 660px;
    width: 100%;
}
.mobileView{
    display: revert;
    
}

.desktopView{
    display: none;
}

/* 768px and smaller*/
@media only screen and (min-width: 768px)
{
    .isFluid{
        margin-top: 14vh;
        border-radius: 6px;
        margin-left: 5%;
        margin-right: 5%;
        max-width: 1300px;
    }
    
}

/* 1400px and smaller */ 
@media screen and (min-width: 1472px)
{

    .header{
        font-size: 60px;
    }
    
    .image{
        width: 1000px;
    }
    
    .projSubtitle{
        font-size: 31px;
    }
    
}

/*1472px and bigger*/
@media screen and (max-width: 1472px)
{
    .mobileVideo{
        height: 100px;
        object-fit: fill;
        width: auto;
    }
}