.topSection{
    margin-top: 9em;
    height: 80vh;
}

.resume{
    position: absolute;
    width: 90%;
    height: 80vh;
    margin-left: 5vw;
    margin-right: 5vw;
    display: inline-block;
}

.resumeMobile{
    margin: 5vw;
    width: auto;
    box-shadow: 0 .5vh 10px 3px rgb(10 10 10 / 30%);
}

.lastUpdated{
    font-size: 60%;
    margin-left: 5vw;
}

.mobileTopSection{
    display: none;
}
