:root {
    --quattrocento-font: 'Quattrocento Sans', sans-serif;
    --hind: 'Hind', sans-serif;
    --josefin-sans: 'Josefin Sans', sans-serif;
}

html{
    background-color: #FCF5E5;
    font-family: var(--quattrocento-font);
}

body{
    font-family: var(--quattrocento-font);
}

.title{
    font-size:calc(20px + 5vw);
    font-weight: bold;
    color: #232323;
}

.subtitle{
    font-size:calc(5px + 2vw);
    font-weight: normal;
    color: #232323;
}

.custButton{
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    padding-left: 1em;
    padding-right: 1em;
    cursor: pointer;
    justify-content: center;
    padding-bottom: calc(0.375em - 1px);
    padding-top: calc(0.375em - 1px);
    text-align: center;
    white-space: nowrap;
    font-size: 1rem;
    align-items: center;
    display: inline-flex;
    line-height: 1.5;
    position: relative;
    vertical-align: top;
}

.custButton:hover{
    -webkit-transition: all 100ms ease-in;
    -webkit-transform: scale(1.1);
    -ms-transition: all 100ms ease-in;
    -ms-transform: scale(1.1);
    -moz-transition: all 100ms ease-in;
    -moz-transform: scale(1.1);
    transition: all 100ms ease-in;
    transform: scale(1.1);
    z-index: 99;
    color: white;
    font-weight: bolder;
}

.custButton.is-linkedIn{
    color: #3273dc;
}
.custButton.is-github{
    color: #6e5494;
}

.custButton.is-email{
    color: #363636;
}

.navbar{
    padding: 1em;
    background-color: #FAF5EA;
    box-shadow: 0 2px 3px rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 10%);
}

.navbarTitle{
    font-size: 3vw;
}

.navbar-menu{
    font-size: 1vw;
}

a.navbar-item:hover{
    background-color: #f4ebd6 !important;
    color: black;
    -webkit-transition: all 100ms ease-in;
    -webkit-transform: scale(1.1);
    -ms-transition: all 100ms ease-in;
    -ms-transform: scale(1.1);
    -moz-transition: all 100ms ease-in;
    -moz-transform: scale(1.1);
    transition: all 100ms ease-in;
    transform: scale(1.1);
    z-index: 99;
}

.topSection{
    margin-top: 9em;
    height: 80vh;
}

.resume{
    position: absolute;
    width: 90%;
    height: 80vh;
    margin-left: 5vw;
    margin-right: 5vw;
    display: inline-block;
}

.resumeMobile{
    margin: 5vw;
    width: auto;
    box-shadow: 0 .5vh 10px 3px rgb(10 10 10 / 30%);
}

.lastUpdated{
    font-size: 60%;
    margin-left: 5vw;
}

.mobileTopSection{
    display: none;
}

@media only screen and (max-width: 768px){
    .mobileTopSection{
        display: revert;
        margin-top: 14vh;
    }

    .topSection{
        display: none;
    }

    .navbar-item{
        font-size: 4vw;
        align-items: center;
    }
    
}